/*
global css
*/

body {
    margin-top: 60px;
}


/* navigator bar styles */

.navbar {
    min-height: 60px;
    margin-bottom: 5px;
}

.navbar-brand {
    float: right;
    margin-right: 50px;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 80px;
    color: #555555;
    font-size: 20px;
}

@media only screen and (max-width: 420px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        font-size: 15px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 314px) {
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        display: none;
    }
}

.navbar-default .navbar-nav>li {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .nav-items {
        display: flex;
        flex-direction: column-reverse;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin: 0px;
    }
}

.navbar-default .navbar-nav>li>a {
    cursor: pointer;
    color: #555555;
    font-size: 17px;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.nav-items {
    direction: rtl;
}


/* slide show styles */

@media only screen and (max-width: 600px) {
    .carousel-slide-custome {
        height: 350px;
    }
}

@media only screen and (max-width: 890px) {
    .navbar-default .navbar-nav>li>a {
        cursor: pointer;
        color: #555555;
        font-size: 10px;
    }
}

.carousel-slide-custome {
    max-height: 675px;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    min-width: 100%;
    max-width: 100%;
    min-height: 350px;
    max-height: 675px;
}

.carousel-caption {
    opacity: .7;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.carousel-caption h1 {
    opacity: 1;
    color: #000;
}

.carousel-caption h1 a {
    opacity: 1;
    color: #000;
    margin: 10px;
    width: 100%;
}


/* end of slide show  styles */


/* start of why we section styles */

.main-article {
    padding-top: 60px;
}

@media only screen and (min-width: 1200px) {
    .mem-article {
        padding: 10px;
        margin: 0px 38px 15px 0px;
        min-height: 130px;
        max-height: 130px;
        max-width: 30%;
    }
    .mem-article i {
        float: left;
        font-size: 60px;
        width: 20%;
        height: 30%;
        margin-right: 30px;
    }
    .mem-article h2 {
        float: right;
        margin: 5px auto;
        height: 30%;
        padding-right: 10px;
    }
    .mem-article h4 {
        display: inline-block;
        direction: rtl;
        font-weight: 100;
        margin: 5px auto;
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .mem-article {
        padding: 10px;
        margin: 0px 28px 5px 0px;
        min-height: 177px;
        max-height: 177px;
        max-width: 30%;
    }
    .mem-article i {
        float: left;
        font-size: 50px;
        width: 20%;
        height: 30%;
        margin-right: 0px;
    }
    .mem-article h2 {
        float: right;
        text-align: right;
        font-size: 25px;
        font-weight: bold;
        height: 30%;
        margin: 5px auto;
        max-width: 79%;
        padding-right: 10px;
    }
    .mem-article h4 {
        display: inline-block;
        direction: rtl;
        margin: 5px auto;
        font-weight: 400;
        width: 100%;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .mem-article {
        padding: 10px;
        margin: 0px 6px 5px 0px;
        min-height: 160px;
        max-height: 160px;
        max-width: 32%;
    }
    .mem-article i {
        float: left;
        font-size: 50px;
        width: 20%;
        height: 30%;
        margin-right: 0px;
    }
    .mem-article h2 {
        float: right;
        font-size: 20px;
        font-weight: bold;
        max-width: 80%;
        height: 30%;
        margin: 5px auto;
        max-width: 79%;
        text-align: right;
        padding-right: 10px;
    }
    .mem-article h4 {
        display: inline-block;
        direction: rtl;
        margin: 5px auto;
        font-weight: 400;
        width: 100%;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .mem-article {
        padding: 10px;
        margin: 0px 6px 5px 0px;
        min-height: 120px;
        max-height: 120px;
        max-width: 100%;
    }
    .mem-article i {
        float: left;
        font-size: 45px;
        width: 10%;
        height: 100%;
        margin-right: 0px;
    }
    .mem-article h2 {
        float: right;
        font-size: 20px;
        font-weight: bold;
        max-width: 90%;
        height: 30%;
        margin: 10px auto;
        padding-right: 10px;
    }
    .mem-article h4 {
        display: inline-block;
        direction: rtl;
        margin: 5px auto;
        font-weight: 400;
        overflow: scroll;
        max-width: 90%;
        padding-right: 10px;
    }
}


/* end of why we section styles */


/* start of articles area styles */

.articles-img {
    min-height: 717px;
    background: url("../img/img4.jpg");
    background-size: 100% 100%;
    min-width: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    padding-top: 60px;
}

.article-container {
    padding-top: 60px;
}

.img-of-article,
.thumbnail>img {
    min-height: 250px;
    max-height: 250px;
}

.thumbnail {
    min-height: 504px;
    max-height: 504px;
}

.btn-lg,
.btn-group-lg>.btn {
    width: 100%;
}

.head-of-articles {
    min-height: 52px;
    max-height: 52px;
    overflow: scroll;
}

.head-of-articles::-webkit-scrollbar {
    width: 1px;
    height: 4px;
}

.head-of-articles::-webkit-scrollbar-thumb {
    background-color: #78b2d4;
    width: 10px;
}

.details-of-article {
    min-height: 90px;
    max-height: 90px;
    overflow: scroll;
}

.details-of-article::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.details-of-article::-webkit-scrollbar-thumb {
    background-color: #78b2d4;
    width: 10px;
}

#back-to-top {
    position: fixed;
    right: 20px;
    bottom: 28px;
    background: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #666;
    line-height: 46px;
    overflow: hidden;
    font-size: 22px;
    display: block;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
    z-index: 99;
    border: 1px solid #ececec;
    border-radius: 100%;
    -webkit-transition: bottom .5s ease, right .5s ease;
    transition: bottom .5s ease, right .5s ease;
    cursor: pointer;
}

#call {
    position: fixed;
    right: 90px;
    bottom: 28px;
    background: rgb(0, 185, 46);
    width: 60px;
    text-align: center;
    height: 60px;
    color: #fff;
    line-height: 46px;
    overflow: hidden;
    font-size: 22px;
    display: block;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
    z-index: 99;
    border: 1px solid #ececec;
    border-radius: 100%;
    -webkit-transition: bottom .5s ease, right .5s ease;
    transition: bottom .5s ease, right .5s ease;
    cursor: pointer;
}

#call i {
    font-size: 30px;
    display: inline-block;
    margin-top: 15px;
}

#call-whats {
    position: fixed;
    right: 170px;
    bottom: 28px;
    background: rgb(0, 185, 46);
    width: 60px;
    text-align: center;
    height: 60px;
    color: #fff;
    line-height: 46px;
    overflow: hidden;
    font-size: 22px;
    display: block;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
    z-index: 99;
    border: 1px solid #ececec;
    border-radius: 100%;
    -webkit-transition: bottom .5s ease, right .5s ease;
    transition: bottom .5s ease, right .5s ease;
    cursor: pointer;
}

#call-whats i {
    font-size: 42px;
    display: inline-block;
    margin-top: 8px;
    color: #fff;
}

@media (max-width: 768px) {
    #call,
    #call-whats {
        display: block;
    }
    .articles-img {
        padding-top: 0px;
    }
    .img-of-article,
    .thumbnail>img {
        min-height: 50px;
        max-height: 80px;
    }
    .thumbnail {
        min-height: 250px;
        max-height: 250px;
    }
    .head-of-articles {
        min-height: 20px;
        max-height: 52px;
        font-size: 17px;
        font-weight: bold;
        overflow: scroll;
    }
    .head-of-articles::-webkit-scrollbar {
        width: 1px;
        height: 4px;
    }
    .head-of-articles::-webkit-scrollbar-thumb {
        background-color: #78b2d4;
        width: 10px;
    }
    .details-of-article {
        min-height: 20px;
        max-height: 20px;
        font-size: 10px;
        overflow: scroll;
    }
    .details-of-article::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    .details-of-article::-webkit-scrollbar-thumb {
        background-color: #78b2d4;
        width: 10px;
    }
    .btn-lg {
        width: 100%;
        height: 40px;
        font-size: 15px;
        font-weight: bold;
        padding: 0px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #call,
    #call-whats {
        display: block;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #call,
    #call-whats {
        display: none;
    }
}

@media (min-width: 1200px) {
    #call,
    #call-whats {
        display: none;
    }
}


/* end of articles area styles */


/* start about us styles */

.about-us-section {
    padding-top: 60px;
    min-width: 100%;
    max-width: 100%;
}

.about-us-section-header {
    font-size: 30px;
    font-weight: 700;
}

.about-us-section-pragraph {
    font-size: 20px;
    font-weight: 400;
}

.about-us-section-list {
    list-style: outside;
    direction: rtl;
}

.about-us-section-list li {
    padding-bottom: 10px;
}

.about-us-section-order-list {
    list-style: square;
    direction: rtl;
}

.about-us-section-order-list li {
    padding-bottom: 15px;
}


/* end about us styles */


/* start contact us styles */

.contact-us-section {
    min-width: 100%;
    max-width: 100%;
    min-height: 230px;
    padding: 60px 0px 80px 0px;
    background-color: #555555;
    color: #fff;
}

.contact-us-section-header {
    font-size: 30px;
    font-weight: 700;
}

.contact-us-section-pragraph {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.contact-us-section-list {
    list-style: outside;
    direction: rtl;
}

.contact-us-section-list li {
    padding-bottom: 10px;
}

#call-now {
    direction: rtl;
    text-align: center;
    display: block;
    margin: 0px auto;
    font-size: 20px;
    color: #fff;
}


/* end of contact us section */